<div class="min-h-screen py-2 px-4">
    <div class="max-w-xl mx-auto shadow-xl rounded-xl p-8">
        <!-- Header -->
        <div class="mb-10 text-start">
            <h2 class="text-3xl font-bold">
                User settings
            </h2>
            <p class="text-sm text-red-500">
                Update your account information
            </p>
        </div>

        <%= form_for(resource, as: resource_name,
        url: registration_path(resource_name),
        html: { method: :put, class: "space-y-6" }) do |f| %>
        <% if resource.errors.any? %>
        <%= render "shared/toaster" %>
        <%#= render "devise/shared/error_messages", resource: resource %>
        <% end %>

        <!-- Username -->
        <div>
            <%= f.label :username, class: "block text-sm flex items-center font-semibold mb-1 gap-1" do %>
            <%= icon "user-circle", library: "heroicons", variant: "solid",class: "size-4 inline" %>
            Username
            <% end %>
            <%= f.text_field :username,
            class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition" %>
        </div>

        <!-- Email -->
        <div>
            <%= f.label :email, class: "block flex items-center text-sm font-semibold mb-1 gap-1" do %>
            <%= icon "paper-clip", library: "heroicons", class: "size-4 inline" %>
            Email
            <% end %>
            <%= f.email_field :email,
            readonly: true,
            autofocus: true,
            autocomplete: "email",
            class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="text-sm text-yellow-600 bg-yellow-50 border border-yellow-200 rounded-lg p-3">
            Currently waiting confirmation for:
            <strong><%= resource.unconfirmed_email %></strong>
        </div>
        <% end %>

        <!-- New Password -->
        <div data-controller="password-toggle">
            <%= f.label :password, class: "block flex items-center text-sm font-semibold mb-1 gap-1" do %>
            <%= icon "lock-closed", library: "heroicons", variant: "solid",class: "size-4 inline" %>
            Password
            <% end %>
            <p class="text-xs mb-2">
                Leave blank if you don't want to change it.
            </p>
            <div class="relative">
                <%= f.password_field :password, data: { password_toggle_target: "input" }, autocomplete: "new-password", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition" %>

                <button type="button" data-action="click->password-toggle#toggle" class="absolute right-3 top-1/2 -translate-y-1/2 cursor-pointer text-gray-500 hover:text-gray-700">
                    <span data-password-toggle-target="eye">
                        <%= icon "eye", library: "heroicons", class: "size-5 inline" %>
                    </span>
                    <span data-password-toggle-target="eyeSlash" class="hidden">
                        <%= icon "eye-slash", library: "heroicons", class: "size-5 inline" %>
                    </span>
                </button>
            </div>

            <% if @minimum_password_length %>
            <p class="text-xs mt-1 text-red-500">
                * Minimum <%= @minimum_password_length %> characters
            </p>
            <% end %>
        </div>

        <!-- Password Confirmation -->
        <div data-controller="password-toggle">
            <%= f.label :password_confirmation, class: "block flex items-center text-sm font-semibold mb-1 gap-1" do %>
            <%= icon "lock-closed", library: "heroicons", variant: "solid",class: "size-4 inline" %>
            Confirm password
            <% end %>
            <div class="relative">
                <%= f.password_field :password_confirmation, data: { password_toggle_target: "input" }, autocomplete: "new-password", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition" %>

                <button type="button" data-action="click->password-toggle#toggle" class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">
                    <span data-password-toggle-target="eye">
                        <%= icon "eye", library: "heroicons", class: "size-5 inline" %>
                    </span>
                    <span data-password-toggle-target="eyeSlash" class="hidden">
                        <%= icon "eye-slash", library: "heroicons", class: "size-5 inline" %>
                    </span>
                </button>
            </div>
        </div>

        <!-- Current Password -->
        <div data-controller="password-toggle" class="relative">
            <%= f.label :current_password, class: "block flex items-center text-sm font-semibold mb-1 gap-1" do %>
            <%= icon "lock-open", library: "heroicons", variant: "solid",class: "size-4 inline" %>
            Current password
            <% end %>

            <p class="text-xs mb-2">
                We need your current password to confirm your changes.
            </p>
            <div class="relative">
                <%= f.password_field :current_password, data: { password_toggle_target: "input" }, autocomplete: "current-password", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition" %>

                <button type="button" data-action="click->password-toggle#toggle" class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">
                    <span data-password-toggle-target="eye">
                        <%= icon "eye", library: "heroicons", class: "size-5 inline" %>
                    </span>
                    <span data-password-toggle-target="eyeSlash" class="hidden">
                        <%= icon "eye-slash", library: "heroicons", class: "size-5 inline" %>
                    </span>
                </button>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="pt-4">
            <%= f.button type: "submit", class: "btn btn-success w-full flex items-center gap-1" do %>
            <%= icon "paper-airplane", library: "heroicons", class: "size-4 inline" %>
            Submit
            <% end %>
        </div>
        <div>
            <%= link_to :back, class: "btn btn-neutral w-full flex items-center gap-1" do %>
            <%= icon "arrow-left", library: "heroicons", class: "size-4 inline" %>
            Cancel
            <% end %>
        </div>

        <% end %>

        <!-- Danger Zone -->
        <div class="mt-10 border-t pt-8">
            <h3 class="text-lg font-semibold text-red-600">
                Danger Zone
            </h3>
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
                <p class="text-sm">
                    You can permanently delete your account.
                </p>
                <%= button_to registration_path(resource_name), method: :delete, data: { turbo_confirm: "Are you sure? This action cannot be undone." }, class: "btn btn-error" do %>
                <%= icon "archive-box-x-mark", library: "heroicons", class: "size-4 inline" %>
                Delete my account
                <% end %>
            </div>
        </div>
    </div>
</div>