<div class="h-screen overflow-hidden flex items-center justify-center">
    <%= render "shared/toaster" %>
    <div class="w-full max-w-md shadow-xl border border-gray-200 rounded-xl p-8">
        <h2 class="text-3xl font-bold text-center mb-8">
            Create your free account
        </h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
        <!-- Username -->
        <div>
            <%= f.label :username, class: "block text-sm font-medium mb-1" %>
            <%= f.text_field :username,
              autofocus: true,
              autocomplete: "username",
              class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition"
            %>
        </div>
        <!-- Email -->
        <div>
            <%= f.label :email, class: "block text-sm font-medium mb-1" %>
            <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition"
        %>
        </div>
        <!-- Password -->
        <div data-controller="password-toggle">
            <%= f.label :password, class: "block text-sm font-medium mb-1 flex items-center" %>
            <div class="relative">
                <%= f.password_field :password, data: { password_toggle_target: "input" }, autocomplete: "current-password", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition" %>
                <button type="button" data-action="click->password-toggle#toggle" class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">
                    <span data-password-toggle-target="eye">
                        <%= icon "eye", library: "heroicons", class: "size-5 inline" %>
                    </span>
                    <span data-password-toggle-target="eyeSlash" class="hidden">
                        <%= icon "eye-slash", library: "heroicons", class: "size-5 inline" %>
                    </span>
                </button>
            </div>
        </div>
        <!-- Confirm password -->
        <div data-controller="password-toggle">
            <%= f.label :password_confirmation, class: "block text-sm font-medium mb-1" %>
            <div class="relative">
                <%= f.password_field :password_confirmation, data: { password_toggle_target: "input" }, autocomplete: "current-password", class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition" %>
                <button type="button" data-action="click->password-toggle#toggle" class="cursor-pointer absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700">
                    <span data-password-toggle-target="eye">
                        <%= icon "eye", library: "heroicons", class: "size-5 inline" %>
                    </span>
                    <span data-password-toggle-target="eyeSlash" class="hidden">
                        <%= icon "eye-slash", library: "heroicons", class: "size-5 inline" %>
                    </span>
                </button>
            </div>
        </div>
        <!-- Submit Button -->
        <div>
            <%= f.submit "Sign up",
              class: "w-full btn btn-success"
        %>
        </div>
        <% end %>
        <!-- Devise Links -->
        <div class="mt-6 text-center text-sm">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>