<div class="mt-8">
    <h2 class="text-xl md:text-sm pl-2 font-bold">Comments</h2>
    <!-- Comment List -->
    <div class="space-y-4">
        <% @post.comments.each do |comment| %>
        <div class="shadow-md rounded-none p-3 transition duration-200">
            <p class="text-xs  mb-1">
                <strong><%= comment.user.username %></strong>
            </p>
            <p class="text-sm"><%= comment.body %></p>
            <div class="flex flex-row flex-row-reverse">
                <% if comment.user == current_user %>
                <%= link_to "Delete", 
                post_comment_path(@post, comment),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this comment?" },
                class: "link link-hover link-error text-xs"%>
                <%= link_to "Edit", edit_post_comment_path(@post, comment), 
                class: "link link-hover link-info text-xs pr-2" %>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>

    <!-- Comment Form -->
    <% if user_signed_in? %>
    <div class="mt-2">
        <%= form_with model: [@post, Comment.new], class: "flex flex-col gap-2" do |f| %>
        <%= f.text_area :body,
            placeholder: "Add a comment...",
            class: "w-full px-4 py-2 border border-gray-500 rounded-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition duration-200" %>

        <%= f.button type: "submit", class: "btn btn-success btn-sm self-end" do %>
        <%= icon "paper-airplane", library: "heroicons", class: "size-4 inline" %>
        Post comment
        <% end %>
        <% end %>
    </div>
    <% end %>
</div>