<%= render "shared/toaster" %>
<div class="h-screen overflow-hidden flex items-center justify-center">
    <div class="w-full max-w-md border border-gray-200 shadow-xl rounded-xl p-8">
        <h2 class="text-3xl font-bold text-center mb-8">
            Forgot your password?
        </h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "space-y-6" }) do |f| %>
        <!-- Email -->
        <div>
            <%= f.label :email, class: "block text-sm font-medium mb-1" %>
            <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              class: "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition"
        %>
        </div>
        <!-- Submit Button -->
        <div>
            <%= f.submit "Send me password reset instructions",
              class: "w-full btn btn-primary"
        %>
        </div>
        <% end %>
        <!-- Devise Links -->
        <div class="mt-6 text-center text-sm flex gap-4 justify-start">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>