<div class="w-full flex flex-col md:flex-row md:justify-between md:items-center shadow-sm p-5 px-16 absolute top-0 left-0 z-10 sticky">
    <div class="flex items-center space-x-6 mb-4 md:mb-0">
        <%= link_to "Home", root_path, class: "text-gray-700 hover:text-blue-600 font-medium transition" %>
        <%= link_to "Blogs", posts_path, class: "text-gray-700 hover:text-blue-600 font-medium transition" %>

        <% if admin? %>
        <%= link_to "My blogs", my_post_path, class: "text-gray-700 hover:text-blue-600 font-medium transition" %>
        <% end %>

        <% if user_signed_in? || admin? %>
        <%= link_to "Profile", edit_user_registration_path, class: "text-gray-700 hover:text-blue-600 font-medium transition" %>
        <% end %>
    </div>
    <div class="flex items-center space-x-4">
        <% if user_signed_in? %>
        <p class="text-gray-600">
            Welcome
            <span class="italic text-blue-600 font-semibold">
                <%= current_user.username %>
            </span>
        </p>
        <%= link_to "Log out", 
            destroy_user_session_path, 
            data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, 
            class: "px-4 py-2 text-red-600 text-sm font-medium border border-red-500 rounded-lg hover:bg-red-500 hover:text-white transition" %>
        <% else %>
        <%= link_to "Sign up", 
            new_user_registration_path, 
            class: "btn btn-ghost" %>
        <%= link_to "Sign in", 
            new_user_session_path, 
            class: "btn btn-primary" %>
        <% end %>
        <%= render "shared/theme_toggler" %>
    </div>
</div>