<div class="w-full flex flex-col bg-base-100 md:flex-row md:justify-between md:items-center shadow-sm p-5 px-16 absolute top-0 left-0 z-10 sticky">
    <div class="flex items-center space-x-6 mb-4 md:mb-0">
        <%= link_to "Home", root_path, class: "link link-neutral link-hover hover:text-amber-700 transition text-sm font-semibold" %>
        <%= link_to "Blogs", posts_path, class: "link link-neutral link-hover hover:text-amber-700 transition text-sm font-semibold" %>

        <% if admin? %>
        <%= link_to "My blogs", my_post_path, class: "link link-neutral link-hover hover:text-amber-700 transition text-sm font-semibold" %>
        <% end %>
    </div>
    <div class="flex items-center space-x-4">
        <% if user_signed_in? || admin? %>
        <div class="dropdown dropdown-center">
            <div tabindex="0" role="button" class="btn btn-ghost m-1 btn-sm">
                <%= icon "user-circle", library: "heroicons", class: "size-5 inline mr-1" %>
                Profile
            </div>
            <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-48 p-2 shadow-sm">
                <li>
                    <div>
                        <%= icon "cog-6-tooth", library: "heroicons", class: "size-4 inline mr-1" %>
                        <%= link_to "User settings", edit_user_registration_path %>
                    </div>
                </li>
                <li class="border-t border-gray-200 mt-2">
                    <div>
                        <%= icon "arrow-left-start-on-rectangle", library: "heroicons", class: "size-4 inline text-red-500 mr-1" %>
                        <%= link_to "Log out", 
                        destroy_user_session_path, 
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, 
                        class: "text-red-500 hover:text-red-700" %>
                    </div>
                </li>
            </ul>
        </div>
        <%= render "shared/theme_toggler" %>
        <% else %>
        <%= link_to "Sign up", 
            new_user_registration_path, 
            class: "btn btn-ghost btn-sm" %>
        <%= link_to "Sign in", 
            new_user_session_path, 
            class: "btn btn-primary btn-outline btn-sm" %>
        <% end %>
        <% if !user_signed_in? %>
        <%= render "shared/theme_toggler" %>
        <% end %>
    </div>
</div>