<% if !user_signed_in? %>
<div class="text-center py-12">
    <h1 class="text-4xl font-bold mb-4">Welcome to My Personal Blog</h1>
    <p class="text-lg mb-8">Sign in to start reading and writing blogs.</p>
    <%= link_to "Sign In" , new_user_session_path, class: "btn btn-primary" %>
</div>
<% else %>
<div class="text-center py-12">
    <h1 class="text-4xl font-bold mb-4">Welcome Back, <%= current_user.username %>!</h1>
    <p class="text-lg mb-8">Continue exploring the blog posts.</p>
    <%= link_to posts_path, class: "btn btn-primary items-center gap-2" do %>
    <%= icon "cursor-arrow-rays", library: "heroicons", class: "size-6 inline" %>
    View All Posts
    <% end %>
    <p class="text-sm mt-4">
        <% if admin? %>
        You can also <%= link_to "create a new post", new_post_path, class: "btn btn-sm" %>
        <% end %>
    </p>
</div>
<% end %>