<div class="card bg-base-100 w-full shadow-xl rounded-xl">
    <figure>
        <% if post.image.attached? %>
        <%= image_tag post.image, 
        class: "w-full h-50 rounded-lg mb-4 object-cover" %>
        <% end %>
    </figure>
    <div class="card-body">
        <h2 class="card-title text-center justify-center text-xl">
            <%= link_to post.title.capitalize, post_path(post), 
            class: "relative inline-block after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[2px] after:bg-black after:transition-all after:duration-500 hover:after:w-full" %>
        </h2>
        <p class="text-center text-xs italic mb-2">
            <%= post.created_at.strftime("%B %d, %Y") %>
        </p>
        <div class="text-xs italic">
            <p class="text-base mb-4">
                <%= truncate(post.body, length: 150) %>
            </p>
        </div>
        <div class="badge badge-outline rounded-xl text-xs">
            ❤️ <%= post.reactions.count %>
            <%= "reaction".pluralize(post.reactions.count) %>
        </div>
    </div>
    <div class="card-actions justify-end mb-4 px-6">
        <%= link_to "Read more", post_path(post), 
        class: "btn btn-neutral btn-outline btn-sm hover:bg-neutral hover:text-white transition-colors duration-300"
        %>
        <% if admin? %>
        <%= link_to "Edit", edit_post_path(post), 
        class: "btn btn-info btn-outline btn-sm hover:bg-info hover:text-white transition-colors duration-300 w-[25%]"
        %>
        <%= link_to "Delete", post_path(post), 
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, 
        class: "btn btn-error btn-outline btn-sm w-[25%] hover:bg-error hover:text-white transition-colors duration-300" 
        %>
        <% end %>
    </div>
</div>