<div class="flex gap-2">

    <!-- Reaction Counter -->
    <div class="flex items-center gap-2 px-4 py-2 bg-pink-50 border border-pink-200 rounded-full shadow-sm">
        <span class="text-lg">
            <%= icon "heart", library: "heroicons", variant: "solid", class: "size-6 text-red-700" %>
        </span>
        <span class="font-semibold text-pink-600">
            <%= post.reactions.count %>
        </span>
    </div>

    <% if user_signed_in? %>
    <% reaction = post.reactions.find_by(user: current_user) %>

    <% if reaction %>
    <!-- Unlike Button -->
    <%= link_to post_reaction_path(post, reaction), class: "btn btn-accent rounded-full", data: { turbo_method: :delete } do %>
    <%= icon "heart", library: "heroicons", variant: "solid", class: "size-6 text-red-700" %>
    Liked
    <% end %>

    <% else %>
    <!-- Like Button -->
    <%= link_to post_reactions_path(post), class: "btn btn-outline btn-accent rounded-full", data: { turbo_method: :post, turbo_submits_with: "Liking..." } do %>
    <%= icon "heart", library: "heroicons", class: "size-6" %>
    Like
    <% end %>
    <% end %>
    <% end %>
</div>
</div>